

 body {
    background-color: rgb(147, 178, 246);
}

.changeIcon {
    cursor: pointer;
}
.hedTitle {
    font-size: 27px;
    
}

.textH3 {
    color: red;
    display: none;
}
.container {
    margin-top: 210px !important;
    width: 500px;
    height: 200p;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



